---
title: "Supprimer Des Spécialités - KGB"
layout: "base.njk"
permalink: "specialtiesDelete.php"
---

<?php 
if(isset($_SESSION['adminLoggedIn']) && isset($_SESSION['adminFirstName'])){
    // The admin is connected
    echo '<script>var adminIsConnected = true;</script>';
} else {
    // The admin is not connected
    echo '<script>var adminIsConnected = false;</script>';
}
?>

<button id="specialtyBackButton" class="action-button back_btn">Retour Aux Spécialités</button>

<div id="delete_wrapper">
    <div class="detail-container">
        <select id="specialty-dropdown"   class="dropdown_btn">
        <!-- Options will be dynamically populated with specialty data -->
        </select>
    </div>

    <button id="specialtyDeleteButton" class="delete_agent_btn">Supprimer la Spécialité</button>
</div>

<div id="myModal" class="modal">
            
    <div id="modalContent" class="modal-content">
        <span id="closeModalButton" class="close">close</span>
        <!-- The message content will be displayed here -->

    </div>
</div>

<script src="./js/specialties/delete.js"></script>