---
title: "Details Des Missions - KGB"
layout: "base.njk"
permalink: "missionsDetail.php"
---

<?php 
if(isset($_SESSION['adminLoggedIn']) && isset($_SESSION['adminFirstName'])){
    // The admin is connected
    echo '<script>var adminIsConnected = true;</script>';
} else {
    // The admin is not connected
    echo '<script>var adminIsConnected = false;</script>';
}
?>

<button id="missionBackButton" class="action-button back_btn">Retour Aux Missions</button>

<div class="detail-container">
<select id="mission-dropdown"  class="dropdown_btn">
  <!-- Options will be dynamically populated with mission data -->
</select>
</div>

<form id="missionDetail-form"   class="form_style">
  <!-- Mission details form will be displayed here -->
</form>

<script src="./js/missions/details.js"></script>