---
title: "Liste des Agents"
layout: "base.njk"
permalink: "agents.php"
---

<?php 
if(isset($_SESSION['adminLoggedIn']) && isset($_SESSION['adminFirstName'])){
    // The admin is connected
    echo '<script>var adminIsConnected = true;</script>';
} else {
    // The admin is not connected
    echo '<script>var adminIsConnected = false;</script>';
}
?>

<div id="agent-button" class="mission-button">
  <!-- Mission button will be inserted here -->
</div>

<form id="agent-form">
  <!-- Mission data will be inserted here -->
</form>



<script src="./js/agents/read.js"></script>